---
export interface Props {
  length: number
}

const { length } = Astro.props;
const numbers = [...Array(length)];
---

<div class="flex font-number justify-around p-4 pt-8 w-1/2">
  {numbers.map((item, index) => (
    <div
      class="bg-gray-500 display-number h-10 leading-[0.75] relative rounded-xl scale-25 select-none text-center text-5xl w-10"
      id={`display-number-${index + 1}`}
    ></div>
  ))}
</div>

<style>
  @reference "../styles/global.css";

  .display-number.filled {
    @apply bg-transparent rounded-none scale-100;
  }

  .display-number.filled.correct {
    @apply animate-number-correct;
  }

  .display-number.filled.wrong {
    @apply animate-number-wrong;
  }
</style>
