---
import type { Frontmatter } from '@/types/site'
import Head from '@/components/Head.astro'
import { author } from '@/data/author'
import { site } from '@/data/site'

export interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props
---

<!doctype html>
<html
  lang={site.locale}
  dir="ltr"
>
  <head>
    <Head
      author={author}
      frontmatter={frontmatter}
      site={site}
    />
  </head>

  <body class:list={['font-sans lg:h-screen text-gray-900', { 'debug-screens': import.meta.env.DEV }]}>
    <slot />
  </body>
</html>
